<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addOrden()">
        Nueva Orden
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="scan()">scanear</ion-button>
  <p *ngIf="code">code: {{code}}</p>
  <p>code: {{code}}</p>
  <ion-item>
    <ion-label>Buscar pulsera: </ion-label>
    <ion-input type="text" [(ngModel)]="id" name="title"></ion-input>
    <ion-buttons slot="start">
      <ion-button (click)="buscarPulsera()" color="primary">Buscar</ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card *ngIf="pulsera">
    <ion-label>
      <h2>Id pulsera: {{pulsera[0].id_pulsera}}</h2>
    </ion-label>
    <ion-label>
      <h2>Total: ${{pulsera[0].total}}</h2>
    </ion-label>
    <ion-label>
      <h2>Pagado: {{pulsera[0].pagado}}</h2>
    </ion-label>
    <ion-button expand="full" (click)="pagar()" color="success">Pagar</ion-button>
  </ion-card>

</ion-content>
