<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="closeModal()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title>{{isUpdate ? 'Editar' : 'Agregar'}} Orden </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item>
      <ion-label position="floating">ID pulsera: </ion-label>
        <ion-input [(ngModel)]="data.id_pulsera" name="id_pulsera"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Productos">
        <ion-select-option *ngFor="let producto of productos; let i = index" value="producto[i].id">{{producto.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad: </ion-label>
        <ion-input [(ngModel)]="data.cantidad" name="cantidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">ID usuario: </ion-label>
        <ion-input [(ngModel)]="data.id_usuario" name="id_usuario"></ion-input>
    </ion-item>
    <ion-button fill="outline" expand="block" color="primary" class="ion-margin-top" type="submit">
      {{isUpdate ? 'Editar' : 'Guardar'}}</ion-button>
  </form>
</ion-content>
